* {
    border: #395317 1px solid;
}

.pagina-1 {
    .pagina-total {
        display: flex;
        flex-direction: column;
    }

    header {
        background-color: #eda5a5;
    }

    .barra-sup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 1em 0em;
    }

    .bs-logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin: -0.7em;
    }



    .bs-logo p {
        color: white;
        margin-left: 10px;
        font-size: 3em;
    }

    .bs-logo img {
        width: 10em;
        height: 10em;
        border-radius: 20em;
        border: solid white;
        margin-left: 10px;
        margin: -2em 2em;
    }

    .bs-div {
        display: flex;
        align-items: center;

        margin: -0.9em 2em;
    }

    .bs-div a {
        background-color: white;
        padding: 10px 20px;
        border-radius: 10px;
    }


    .faixa-1 {

        padding-bottom: -10em;
    }

    .f1-foto {
        width: 100%;
        height: 100%;
    }

    .f1-textos {
        display: flex;
        flex-direction: row;
        margin-top: -40em;
    }

    .f1-textos h1 {
        font-family: 'baby';
        font-size: 3em;

        background-color: #ea9191;
        border-radius: 4em;

        padding: 10px 2em;

        margin-top: -1em;
        margin-bottom: 1em;
        margin-left: 1em;
    }

    .faixa-1 h2 {
        font-family: 'roboto';
        font-size: 2em;
        margin-left: 1em;
        margin: 5em;
    }

    .f1-textos img {

        margin-top: -6em;
        width: 8em;
        height: 8em;
    }

    .faixa-2 {
        text-align: right;
        background-size: auto;
    }

    .f2-foto {
        width: 100%;
        height: 100%;
    }


    .faixa-2 h2 {
        font-family: 'roboto';
        margin-right: 30px;
        margin-top: -10em;
    }

    .f2-div {
        margin-bottom: -20em;
        margin-top: -10em;
    }

    .f2-textos h1 {
        background-color: #637749;
        border-radius: 16px;
        padding: 20px 20px;
        padding-right: 20px;
        margin-left: 35em;
        margin-right: 30px;
        font-family: 'roboto';
        margin-top: -15em;

    }

    .faixa-3 {
          display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        border: solid #ea9191 6px;
        background-color: #f8eaf6;
        margin-top: 29.5em;
        
      
    }


    .f3-fotona {

        margin: 5em 7em ;
        width: 80px;
        height: 80px;
    }

    .f3-fundo{
       margin-left: 30em;
    }

    .f3-h1 {
        background-color: #ea9191;
        border-radius: 20px;
       
        padding-left: 1em;
        margin-left: 43em;
        margin-right: 43em;

        font-family: 'lemonmilk-regular';
        margin: -4em 10em;
    }


    .f3-textos p {
        text-align: left;
        margin-left: 18em;
        margin: 15em;
        padding: 2em;
    }

    .f3-fotona{
        margin: 4em 9em;
    }

    .img-h {
        text-align: right;
        position: absolute;

    }

    .faixa-5 {
        background-color: #8aae79;
    }

    .f5-tt {
        display: flex;
        flex-direction: row;
    }

    .f5-tt h1 {
        font-family: 'baby';
        background-color: #f1f1f1;
        border-radius: 20px;
        padding-right: 20em;
    }

    .f5-tt img {
        width: 3em;
        height: 3em;

        margin-left: -25em;
    }

    .f5-texto {
        display: flex;
        flex-direction: column;
        background-color: #f1f1f1;
        border-radius: 10px;

        margin: 20px 30px;
        padding: 10px 15px;
    }

    .f5-texto p {
        font-family: 'roboto2';
    }

    .f5-texto img {
        width: 3em;
        height: 3em;
    }

    .f5-cartao {
        display: flex;
        flex-direction: row;
    }

    .f5-cartao h1 {
        font-family: 'roboto2';
    }

    .f-7 {
        background-color: #EEF9E3;
        margin: 0px;
    }

    .titulo-f7 {
        display: flex;
        font-size: 21.52px;
        font-family: 'lemonmilk-regular';

    }

    .titulo-f7>h1 {
        background-color: #8aaf7999;
        border-radius: 50px;
        margin-left: 10em;
        padding: 0em 1.8em;
    }

    .f7-jt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .faixinhas {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
        justify-content: space-around;
    }



    .textos-f7 {
        border-radius: 50px;
        background-color: #8aaf7999;
        width: 684px;

    }

    .textos-f7>h2 {
        font-family: 'lemonmilk-regular';
        margin-left: 2.5em;
    }

    .textos-f7>p {
        display: flex;
        justify-content: center;
        align-content: center;
        font-family: 'open-sans';
        font-size: 16px;
        width: 583px;
        margin-left: 2.5em;
    }

    .img-atleta {
        padding-right: 1em;
        width: 114px;
        height: 114px;
    }

    .img-povo {
        padding-right: 1em;
        width: 114px;
        height: 114px;
    }

    .img-chef {
        padding-right: 1em;
        width: 114px;
        height: 114px;
    }



    .faixa-7 {
        display: flex;
        flex-direction: column;
        background-color: #9bbade;
        background-repeat: no-repeat;
        height: 100%;
        background-size: 100%;
        background-position: center;

    }

    .tipos {
        font-family: 'louis';
        font-size: 30px;
        color: #ffffff;
        background-color: #D9A87B;
        display: flex;
        justify-content: start;
        margin-left: 90px;
        margin-right: 180px;
        border-radius: 8px;
        border-style: solid;
        padding-left: 40px;
        border-color: black;
        border-width: thin;

    }

    .f7-cartao {
        background-color: #D9A87B;
        border-radius: 10px;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        width: 293px;
        margin-bottom: 30px;
        border-style: solid;
        border-color: #5E2727;
        border-width: thin;
    }

    .img1 {
        width: 231px;
        height: 280.14px;
        padding-left: 30px;
    }

    .cartoes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;


    }

    .img2 {
        width: 231px;
        height: 280.14px;
        padding-left: 30px;
    }

    .img3 {
        width: 238px;
        height: 280px;
        padding-left: 30px;
    }

    .p1 {
        font-family: 'source';
        font-size: 22px;
        padding-left: 20px;
    }

    .p2 {
        font-family: 'source';
        font-size: 22px;
        padding-left: 20px;
    }

    .p3 {
        font-family: 'source';
        font-size: 22px;
        padding-left: 20px;
    }

    .faixa-precos {
        background-color: #F2F8ED;
    }

    .fp-f1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0px -10px;
    }

    .fp1-plano-simples {
        background-color: rgba(234, 144, 144, 0.6);
        border-radius: 40px;
        padding: 10px 200px;
        margin: 40px;
    }

    .piramide-img {
        margin: 50px;
    }

    .fp-f2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .fp-plano-composto {
        background-color: rgba(234, 145, 145, 0.6);
        border-radius: 40px;
        padding: 20px 200px;
        margin: 40px;
    }

    .balanca-img {
        margin: 50px;
    }

    .fp-consulta-simples {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .fp-f3 {
        background-color: rgba(234, 145, 145, 0.6);
        border-radius: 40px;
        padding: 20px 340px;
        margin: 40px;

    }

    .maca-img {
        margin: 50px;
    }

    .para {
        font-family: "open-sans";
    }

    .faixa-precos>h1 {
        font-family: "louis viton";
    }

    .faixa-8 {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: #9bbade;
        background-size: 100%;


        padding: 7em 0em;
    }

    .f8-pt1 {
        display: flex;
        flex-direction: row;
    }

    .f8-pt1 p {
        background-color: #eeeeee;
        border-radius: 20px;
        padding: 10px 20px;
    }

    .f8-pt1>img {
        width: 7em;
        height: 7em;


    }

    .f8-txt p {
        background-color: #eeeeee;
        border-radius: 20px;
        padding: 10px 20px;

        margin-left: 22.5em;
        margin-right: 18em;
    }

    .f8-pt1-txt h1 {
        background-color: #9bbade;
        border-radius: 10px;
        padding: 20px 30px;

        font-family: 'roboto2';
    }

    .f8-pt1-img img {
        width: 4em;
    }

    .rodape {
        background-color: #36352e;
        color: white;
        font-family: 'roboto';
    }

    .rodape-pt1 {
        padding-bottom: -200em;
    }

    .rodape,
    .rodape-redes,
    .rodape-valores,
    .mapinha {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .rodape-pt1,
    .elemento,
    .elemento-m {
        display: flex;
        flex-direction: row;
    }

    .elemento {
        align-items: center;
    }

    .elemento h1 {
        font-size: 15px;
        margin-left: 5px;
    }

    .elemento-m img {
        width: 5em;
        height: 5em;
        border-radius: 20em;
        border: solid white;
    }

    .mapinha,
    .rodape-valores,
    .rodape-redes {
        margin-left: 15px;
    }

    .mapa img {
        width: 22.5em;
        height: 8em;

        margin-right: 12px;
        margin-top: 20px;
        margin-bottom: -10px;
    }

    .elemento img {
        width: 1em;
        height: 1em;
    }

    .horizontal {
        width: 80em;
    }

    .rodape-pt2 {
        text-align: center;
    }

    @media only screen and (min-width:720px) {
        .pagina-total {
            display: flex;
            flex-direction: column;
        }

        .rodape {
            background-color: #36352e;
            color: white;
            font-family: 'roboto';
        }

        .rodape-pt1 {
            padding-bottom: -200em;
        }

        .rodape,
        .rodape-redes,
        .rodape-valores,
        .mapinha {
            display: flex;
            flex-direction: column;
            align-content: center;
        }

        .rodape-pt1,
        .elemento,
        .elemento-m {
            display: flex;
            flex-direction: row9;
        }
    }
}