.pagina-editar{
    .cabecalho-consultar{
        display: flex;
        flex-direction: row;
        background-color: #EDA5A5;
        font-family: 'lemon-milk';
    }
    .titulo{
        display: flex;
        flex-direction: row;
        font-family: 'louis';
    }
    
    .agora-vai{
        display: flex;
        flex-direction: row;
        width: 55%;
    }
    .cartoes{
        background-color: #E7A363;
        border-radius: 50px;
        width: 700px;
        margin: 10px;
    }
    .parte-de-cima{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: 'inter';
    }
    .parte-de-baixo{
        display: flex;
        flex-direction: row;
        height: 100px;
        justify-content: space-around;
        font-family: 'inter';
    }
    .edicao1{
        display: flex;
        flex-direction: column-reverse;  
        width: 26px;
    }
    .edicao1 > img{
        height: 25px;
        width: 25px;
    }
    .comeback{
        display: flex;
        flex-direction: row-reverse;
    }
}