.pagina-adm{
    main{
        display: flex;
        align-items: center;
        justify-content: center;
    
    
        background-color: #d6ffc2;
        padding: 1.5em 1.5em;
        height: 100vh;
    }
    
    .pg-login{
        display: flex;
        flex-direction: column;
        
        background-color: #b0cda2;
        border: solid black 0.3px;
        border-radius: 10px;
        background-size: 100vh;
    }
    
    .pg-login p{
        margin-left: 2.5em;
    }
    
    .pg-login div{
        margin-left: 2.5em;
    }
    
    .pl-login, .pl-senha{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .pl-login img, .pl-senha img{
        margin-left: 30px;
    }
    
    .pl-tt{
        font-size: 20px;
    }
    
    .pl-login input, .pl-senha input{
        border: none;
        background-color: #FFF;
    
        font-size: 1em;
    
        padding-left: 1em;
        width: 65em;
        height: 4em;
    }
    
    
    .pl-login img, .pl-senha img{
        width: 4.4em;
        height: 4em;
    
        
    }
    
    .pl-txt{
        font-size: 20px;
    }
    
    .botoes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
        margin-top: 2em;
        margin-bottom: 1em;
    }
    
    .b1, .b2{
        background-color: #63976f;
        border-radius: 20px;
    }
    
    .b1 a, .b2 a{
        font-size: 25px;
        margin-right: 50px;
        margin-left: 20px;   
    }
}